<div class="d-flex  justify-content-between">
    <span class="tbl__heading">Health Card</span>
    <a class="Inforce d-flex align-items-end">Active</a>
</div>

<div class="table-responsive health__card__status">
    <table class="table table-borderless table-hover ">
        <thead>
            <tr>
                <th>Date</th>
                <th>Transaction ID</th>
                <th>Total Amount</th>
                <th>Membership ID</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>XXXX XXXX 1234</td>
                <td>RM 11,200</td>
                <td>500 Points</td>
                <td>RM 22,000</td>

            </tr>
        </tbody>
    </table>



</div>

<div class="f-16 darkash-color mt-5 ">
    Statement
</div>
<div class="table-responsive">
    <table class="table table-borderless table-hover">
        <thead>
            <tr>
                <th>Date</th>
                <th>Transaction ID</th>
                <th>Total Amount</th>
                <th>Membership ID</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>01-Jan-2020</td>
                <td>SLN01245689</td>
                <td>RM 800</td>
                <td>ABD12345678</td>
                <td class="Completed">Completed</td>
                <td><span class="d-flex f-24">. . .</span></td>
            </tr>

            <tr>
                <td>28-Dec-2020</td>
                <td>SLN01245689</td>
                <td>RM 800</td>
                <td>ABD12345678</td>
                <td class="Inprogress">Inprogress</td>
                <td><span class="d-flex f-24">. . .</span></td>
            </tr>

            <tr>
                <td>15-Nov-2020</td>
                <td>SLN01245689</td>
                <td>RM 800</td>
                <td>ABD12345678</td>
               <td class="Failed">Failed</td>
                <td><span class="d-flex f-24">. . .</span></td>
            </tr>





        </tbody>
    </table>
</div>