<div class="main__content__single">
    <div class="d-flex  justify-content-between">
        <span class="tbl__heading">Offers</span>
      
    </div>

    <mat-tab-group >
        <mat-tab label="All Offers">
            <div class="container-fluid px-5">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                        <div class="offers__card">
                            <a class="f-14 f-bold get orange-bg-color">GET A FREE GIFT</a>
                            <div class="conditions">
                                <p class="member__type">On any Member</p>
                                <img class="gift" src="../../../assets/images/gift.png" alt="">
                                <img cass="dots" src="../../../assets/images/offercard__dots.svg" alt="">
                                <p class="conditions__apply">*Conditions Apply</p>
                            </div>
                            <a class="f-14 d-bold blue-bg-color grab__now mt-2">GRAB NOW</a>
                        </div>
                    </div>
                  
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Insurance" class="mx-3">  </mat-tab>
        <mat-tab label="Tele-Medicine" class="mx-3"> </mat-tab>
        <mat-tab label="E-Pharma" class="mx-3"></mat-tab>
        <mat-tab label="Diagnostics" class="mx-3">  </mat-tab>
        <mat-tab label="Home Care" class="mx-3"> </mat-tab>
        <mat-tab label="Will Writing" class="mx-3">  </mat-tab>
        <mat-tab label="Funeral" class="mx-3"> </mat-tab>
      </mat-tab-group>
</div>