<router-outlet></router-outlet>

<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
                <img class="footer__logo" src="../../assets/images/logo.png" alt="">
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <h4 class="footer__link__headings">All Our Services</h4>
                <a class="footer__links d-block w-100">Insurance</a>
                <a class="footer__links d-block w-100">Tele Medicine</a>
                <a class="footer__links d-block w-100">E-Pharmacy</a>
                <a class="footer__links d-block w-100">Home Care</a>
                <a class="footer__links d-block w-100">Will Writing</a>
                <a class="footer__links d-block w-100">Funeral Service Management</a>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <h4 class="footer__link__headings">Get Help</h4>
                <a class="footer__links d-block w-100">Contact Us</a>
                <a class="footer__links d-block w-100">Branches/ Agencies Near You</a>
                <a class="footer__links d-block w-100">Report an Issue</a>
                <a class="footer__links d-block w-100">FAQs</a>

            </div>
            <div class="col-12 col-md-6 col-lg-2">
                <h4 class="footer__link__headings">Our Policies</h4>
                <a class="footer__links d-block w-100" routerLink="/terms&conditions">Terms & Conditions</a>
                <a class="footer__links d-block w-100" routerLink="/claims">Claims Policy</a>
                <a class="footer__links d-block w-100" routerLink="/privacy-policy">Our Privacy Policy an Issue</a>

            </div>
            <div class="col-12 d-flex align-items-center justify-content-between">
                <div class="download__app">
                    <img src="../../assets/images/playstore.png" alt="">
                    <img src="../../assets/images/applestore.png" alt="">
                </div>

                <div class="social__media__follow">
                    <span><img src="../../assets/images/fb.svg" alt=""></span>
                    <span><img src="../../assets/images/in.svg" alt=""></span>
                    <span><img src="../../assets/images/pin.svg" alt=""></span>
                    <span><img src="../../assets/images/twitter.svg" alt=""></span>
                </div>
            </div>
        </div>
    </div>
</footer>