@import "./assets/scss/theme";
@import "./assets/scss/colors";
@import "./assets/scss/table";
@import "./assets/scss/scrollbar";

/* You can add global styles to this file, and also import other style files */

:host {
  font-family: Roboto, "Helvetica Neue", sans-serif !important;
  font-size: 16px;
  color: $black-color;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  font-family: Roboto, "Helvetica Neue", sans-serif !important;
  // height: 100%;
  margin: 0;
  overflow-x: hidden;
}

*:focus {
  outline: none !important;
}

a {
  color: #0366d6;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }
}

a,
button,
img,
.material-icon {
  &:hover {
    cursor: pointer !important;
  }
}

img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

[type="button"],
[type="reset"],
[type="submit"],
button {
  -webkit-appearance: inherit;
}

button {
  border: 0px;
}

.f-12 {
  font-size: 12px;
}

.f-14 {
  font-size: 14px;
}

.f-15 {
  font-size: 15px;
}

.f-16 {
  font-size: 16px;
}

.f-18 {
  font-size: 18px;
}

.f-20 {
  font-size: 20px;
}

.f-22 {
  font-size: 22px;
}

.f-24 {
  font-size: 24x;
}

.f-28 {
  font-size: 28px;
}

.f-32 {
  font-size: 32px;
}

.f-36 {
  font-size: 36px;
}
.f-bold {
  font-weight: bold;
}

.f-medium {
  font-weight: 500;
}

.f-italic {
  font-style: italic;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0px;
}

.app__header {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1000;
}

.spacer {
  flex: 1;
}

.back {
  background: $light-grey;
  border-radius: 8px;
  color: $darkash;
  padding: 7px 20px;
  font-size: 14px;
  font-weight: 500;
  margin-right: 18px;
}

.login,
.cancel {
  text-transform: uppercase;
  border-radius: 8px;
  width: 130px;
  margin: 44px 10px;
  border: 0px;
  padding: 5px;
  font-size: 14px;
  font-weight: 500;
}

.cancel {
  background-color: #edeef2;
  color: $darkash;
}

.login {
  background-color: $blue-color;
  color: $white-color;
}

//****************************************************//
//main layout with sidebar and main content routing styles
//****************************************************//

.user__section {
  background: #d8e6ff;
  min-height: calc(100vh - 60vh);
  margin-top: 139px;
}

.user__layout {
  display: flex;
  min-height: 200px;
  flex-wrap: wrap;
  padding: 26px 16px;

  .sidebar__options {
    flex: 1;
    min-width: 229px;
    max-width: 229px;
    height: calc(100vh - 57px);
    width: 100%;
    overflow: auto;
    background: $white-color;
    margin: 0 20px;
    padding: 36px 0px;
    box-shadow: 0px 10px 20px $shadow-color;
    border-radius: 20px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .main__content {
    min-width: 500px;
    flex: 2;
    padding: 24px 22px;
    overflow: auto;
    height: calc(100vh - 57px);
    background: $white-color;
    margin: 0 20px;
    box-shadow: 0px 10px 20px $shadow-color;
    border-radius: 20px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .profile__options {
    .profile__pic {
      width: 78px;
      height: 78px;
      overflow: hidden;
      border-radius: 50%;
      object-fit: cover;
      object-position: center;
    }

    .user__name {
      font-size: 14px;
      font-weight: 700;
      height: 20px;
      margin-top: 10px;
    }

    .email {
      font-size: 14px;
      height: 16px;
      margin: 1rem 0;
      color: #9b9393;
    }

    .profile__links {
      position: relative;
      margin-top: 3rem;
      .profile__link__option {
        display: flex;
        margin-bottom: 30px;
        color: #c5c5c5;
        width: 100%;
        align-items: center;
        font-size: 14px;

        &::after {
          content: "";
          width: 4px;
          height: 22px;
          position: absolute;
          right: 0px;
          background: $white-color;
          border-radius: 32%;
        }

        .option__icon {
          margin: 0 11px 0 16px;
          opacity: 0.3;
        }
      }

      .profile__link__option__active {
        color: $primary-color;

        &::after {
          content: "";
          width: 4px;
          height: 22px;
          position: absolute;
          right: 0px;
          background: $primary-color;
          border-radius: 32%;
        }

        .option__icon {
          opacity: 1;
        }
      }
    }
  }
}

//****************************************************//
//main layout main content routing styles
//****************************************************//

.main__content__single__padding {
  padding: 26px 0px 0 0;
}
.main__content__single {
  min-width: 500px;
  flex: 2;
  padding: 24px 22px;
  overflow: auto;
  height: calc(100vh - 57px);
  background: $white-color;
  margin: 0 20px;
  box-shadow: 0px 10px 20px $shadow-color;
  border-radius: 20px;
}

.app__heading {
  color: $primary-color;
  font-size: 32px;
  font-weight: bold;
  position: relative;
  display: flex;
  &::after {
    background: linear-gradient(to right, #1d3176 25%, #1f347c 25%, #233a87 50%, #ffc519 50%, #ffc21b 75%, #ffc519 75%);
    position: absolute;
    content: "";
    height: 3px;
    right: 0;
    left: 0;
    bottom: -20px;
    max-width: 200px;
    border-radius: 12%;
  }
}

.app__description {
  margin-top: 66px;
  width: 100%;
}

.app__partners__description {
  margin-top: 66px;
  width: 100%;
}
.web__pages__padings {
  padding: 20px 20px;

  .client__images {
    padding: 81px 0px;
    text-align: center;
    .img__box {
      width: 126px;
      height: 126px;
      overflow: hidden;
      margin: 36px;

      img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        object-position: center;
      }
    }
  }
}

.mat-form-field {
  display: block !important;
  text-align: initial !important;
}

.mat-tab-label {
  min-width: 60px !important;
}

@media screen and (min-width: 768px) {
  .web__pages__padings {
    padding: 65px 66px;
  }
}
@media screen and (min-width: 992px) {
  .app__description {
    width: 425px;
  }
}


