<div class="user__navigation__options">
    <a href="" class="nav__options" routerLink="/user/profile" routerLinkActive="nav__options__active">My Profile</a>
    <a href="" class="nav__options" routerLink="/user/claims" routerLinkActive="nav__options__active">Claims</a>
    <a href="" class="nav__options" routerLink="/user/renewals" routerLinkActive="nav__options__active">Renewals</a>
    <a href="" class="nav__options" routerLink="/user/offers" routerLinkActive="nav__options__active">My
        Offers</a>
    <a href="" class="nav__options" routerLink="/user/support-help" routerLinkActive="nav__options__active">Support &
        Help Center</a>
    <a href="" class="nav__options" routerLink="/user/all-products" routerLinkActive="nav__options__active">All Products</a>
</div>
<div class="user__section">
    <router-outlet></router-outlet>
</div>
