<div class="container-fluid p-0">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 p-0">

            <div class="about__us__section">
                <h1 class="app__heading">About MayAngkasEmas</h1>
                <div class="app__description">
                    The scheme of lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                    nisi ut
                    aliquip ex ea commodo consequat. he scheme of lorem ipsum
                </div>

            </div>

        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 p-0">
            <img class="about__images" src="https://source.unsplash.com/user/erondu/">

        </div>
    </div>
</div>
<div class="about__mission__vision">
    <div class="mission">
        <div class="side__image">
            <img src="../../../../../assets/images/mission.png" alt="">
        </div>
        <div class="">
            <h1 class="app__heading">Our MISSION</h1>
            <div class="app__description__mision">
                MAEB is committed to prevent Non- Communicable Diseases (NCDs) through innovative preventive health care
                approach, improving quality of life, reducing health care costs and increasing productivity of
                Malaysians.
            </div>

        </div>
    </div>
</div>