<div class="auth__section">

    <div class="columns section__img">
        <img src="https://source.unsplash.com/user/erondu/">
    </div>
    <div class="columns section__form">

      
        <div class="text-center">
         

            <form class="auth__form">
                <p class="enter__otp__text">
                    Please enter the OTP which has been send to your 9____9292 mobile number & g____@gmail.com
                 </p>

                <!-- <mat-form-field> -->
                    <input class="entre_otp_here" placeholder="" maxlength="6">
                <!-- </mat-form-field> -->
           </form>
            <p class="resent__otp"><a>Resend OTP</a></p>
            <div class="">
                   
                <button class="cancel">Cancel</button>
                <button class="login" (click)="otp()" >Submit</button>
            </div>
                
           
        </div>
    </div>
</div>