<div class="d-flex  justify-content-between">
    <span class="tbl__heading">Payments</span>
    <!-- <button class="tbl__add_btn">GET QUOTE</button> -->
</div>
<div class="table-responsive">
    <table class="table table-borderless table-hover">
        <thead>
            <tr>
                <th>Date</th>
                <th>Membership ID</th>
                <th>Payment Mode</th>
                <th>Agent Name</th>
                <th>Transaction ID</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
         
            <tr>
                <td>20-Jan-1976</td>
                <td>SLN01245689</td>
                <td>Creditcard</td>
                <td>Mr. Raj Kumar</td>
                <td>0001234567</td>
               <td class="Completed">Completed</td>
                <td><span class="d-flex f-24">. . .</span></td>
            </tr>

            <tr>
                <td>20-Jan-1976</td>
                <td>SLN01245689</td>
                <td>Netbanking</td>
                <td>Mr. Raj Kumar</td>
                <td>0001234567</td>
               <td class="Completed">Completed</td>
                <td><span class="d-flex f-24">. . .</span></td>
            </tr>

            <tr>
                <td>20-Jan-1976</td>
                <td>SLN01245689</td>
                <td>Agent Cash</td>
                <td>Mr. Raj Kumar</td>
                <td>0001234567</td>
               <td class="Inprogress">Inprogress</td>
                <td><span class="d-flex f-24">. . .</span></td>
            </tr>

            <tr>
                <td>20-Jan-1976</td>
                <td>SLN01245689</td>
                <td>UPI</td>
                <td>Mr. Raj Kumar</td>
                <td>0001234567</td>
               <td class="Failed">Failed</td>
                <td><span class="d-flex f-24">. . .</span></td>
            </tr>





        </tbody>
    </table>
</div>