<div class="main__content__single">
    <div class="d-flex  justify-content-between">
        <span class="tbl__heading">Claims</span>
        <button class="tbl__add_btn" routerLink="/user/claims/new-claims">RAISE NEW CLAIM</button>
    </div>
    <div class="table-responsive">
        <table class="table table-borderless table-hover">
            <thead>
                <tr>
                    <th>Raised On</th>
                    <th>Transaction ID</th>
                    <th>Membership ID</th>
                    <th>Membership Name</th>
                    <th>Membership Status</th>
                    <th>Raised Amount</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td>20-Jan-2021</td>
                    <td>ID 1234422</td>
                    <td>SLN01245689</td>
                    <td>Mr. Anwar Basha</td>
                    <td class="Completed">Active</td>
                    <td>$ 1,234,33:00</td>
                    <td class="Completed">Approved<br>
                        <span class="f-italic">$ 1,234,33:00</span>
                    </td>
                    <td><span class="d-flex f-24">. . .</span></td>
                </tr>

                <tr>
                    <td>20-Jan-2020</td>
                    <td>ID 8834456</td>
                    <td>SLN08845689</td>
                    <td>Mr. Anwar Basha</td>
                    <td class="Inprogress">Expired</td>
                    <td>$ 1,234,33:00</td>
                    <td class="Inprogress">Rejected<br>
                       
                    </td>
                    <td><span class="d-flex f-24">. . .</span></td>
                </tr>

                <tr>
                    <td>19-Jan-2020</td>
                    <td>ID 1287445</td>
                    <td>SLN01245555</td>
                    <td>Mrs. Razia</td>
                    <td class="Failed">Active</td>
                    <td>$ 1,234,33:00</td>
                    <td class="Failed">Pending Approval<br>
                      
                    </td>
                    <td><span class="d-flex f-24">. . .</span></td>
                </tr>

            


            </tbody>
        </table>
    </div>
</div>