<div class="webuser__navigation__options">
    <a href="" class="nav__options" routerLink="/home" routerLinkActive="nav__options__active">Home</a>
    <a href="" class="nav__options" routerLink="/about" routerLinkActive="nav__options__active">About Us</a>
    <a href="" class="nav__options" routerLink="/business-partners" routerLinkActive="nav__options__active">Business
        Partners</a>
    <a href="" class="nav__options" routerLink="/sales-partners" routerLinkActive="nav__options__active">Sales
        Partners</a>
    <a href="" class="nav__options" routerLink="/all-products" routerLinkActive="nav__options__active">Products</a>
    <a href="" class="nav__options" routerLink="/micro-finance" routerLinkActive="nav__options__active">Micro
        Finance</a>
    <a href="" class="nav__options" routerLink="/help&faq" routerLinkActive="nav__options__active">Help & FAQs</a>

</div>

<div class="main__content__single__padding" style="margin-top: 115px;">
    <router-outlet></router-outlet>
</div>