<div class="d-flex  justify-content-between">
    <span class="tbl__heading mb-3">All Quotations</span>
   
</div>
<div class="container-fluid">
    <div class="row">
        <div class="text-center col-12 col-sm-12 col-md-6 col-lg-4">
            <div class="quote__card">
                <h3 class="product__name">PRODUCT 1</h3>
                <p class="benifits">8+ Benefits</p>
                <div class="d-flex justify-content-center align-items-center additional__ofers">
                    <img class="mx-2" src="../../../../assets/images/benefits.svg" alt="">
                    5% Additional Doiscount
                </div>
                <div class="valid__date">Valid Only for 2 Days</div>
                <button class="view__details">VIEW DETAILS</button>
            </div>
        </div>

        <div class="text-center col-12 col-sm-12 col-md-6 col-lg-4">
            <div class="quote__card">
                <h3 class="product__name">PRODUCT 2</h3>
                <p class="benifits">8+ Benefits</p>
                <div class="d-flex justify-content-center align-items-center additional__ofers">
                    <img class="mx-2" src="../../../../assets/images/benefits.svg" alt="">
                    5% Additional Doiscount
                </div>
                <div class="valid__date">Valid Only for 2 Days</div>
                <button class="view__details">VIEW DETAILS</button>
            </div>
        </div>

          <div class="text-center col-12 col-sm-12 col-md-6 col-lg-4">
            <div class="quote__card">
                <h3 class="product__name">PRODUCT 3</h3>
                <p class="benifits">8+ Benefits</p>
                <div class="d-flex justify-content-center align-items-center additional__ofers">
                    <img class="mx-2" src="../../../../assets/images/benefits.svg" alt="">
                    5% Additional Doiscount
                </div>
                <div class="valid__date">Valid Only for 2 Days</div>
                <button class="view__details">VIEW DETAILS</button>
            </div>
        </div>
        <div class="text-center col-12 col-sm-12 col-md-6 col-lg-4">
            <div class="quote__card">
                <h3 class="product__name">PRODUCT 4</h3>
                <p class="benifits">8+ Benefits</p>
                <div class="d-flex justify-content-center align-items-center additional__ofers">
                    <img class="mx-2" src="../../../../assets/images/benefits.svg" alt="">
                    5% Additional Doiscount
                </div>
                <div class="valid__date">Valid Only for 2 Days</div>
                <button class="view__details">VIEW DETAILS</button>
            </div>
        </div>

          <div class="text-center col-12 col-sm-12 col-md-6 col-lg-4">
            <div class="quote__card">
                <h3 class="product__name">PRODUCT 5</h3>
                <p class="benifits">8+ Benefits</p>
                <div class="d-flex justify-content-center align-items-center additional__ofers">
                    <img class="mx-2" src="../../../../assets/images/benefits.svg" alt="">
                    5% Additional Doiscount
                </div>
                <div class="valid__date">Valid Only for 2 Days</div>
                <button class="view__details">VIEW DETAILS</button>
            </div>
        </div>
        <div class="text-center col-12 col-sm-12 col-md-6 col-lg-4">
            <div class="quote__card">
                <h3 class="product__name">PRODUCT 6</h3>
                <p class="benifits">8+ Benefits</p>
                <div class="d-flex justify-content-center align-items-center additional__ofers">
                    <img class="mx-2" src="../../../../assets/images/benefits.svg" alt="">
                    5% Additional Doiscount
                </div>
                <div class="valid__date">Valid Only for 2 Days</div>
                <button class="view__details">VIEW DETAILS</button>
            </div>
        </div>

          <div class="text-center col-12 col-sm-12 col-md-6 col-lg-4">
            <div class="quote__card">
                <h3 class="product__name">PRODUCT 7</h3>
                <p class="benifits">8+ Benefits</p>
                <div class="d-flex justify-content-center align-items-center additional__ofers">
                    <img class="mx-2" src="../../../../assets/images/benefits.svg" alt="">
                    5% Additional Doiscount
                </div>
                <div class="valid__date">Valid Only for 2 Days</div>
                <button class="view__details">VIEW DETAILS</button>
            </div>
        </div>
    </div>
</div>