<div class="main__content__single__padding">
    <div class="dashboard">
        <div class="d-flex align-items-center primary-color mb-4 pb-1">
            <h1 class="f-22 f-medium ">Hi Pavan</h1>,
            <span class="f-22 mx-1">Welcome back</span>

        </div>
        <div class="dashboard__numbers mb-4">
            <div class="balance">
                <div class="box-layout p-3">
                    <div class="balance__card">
                        sdfs
                    </div>
                    <div class="balance__info">
                        <p class="darkash-color f-14 f-medium d-flex">Card Balance</p>
                        <h3 class="primary-color f-22 f-bold d-flex">RM 22,250</h3>
                    </div>
                    <div class="balance__info">
                        <div class="d-flex align-items-end justify-content-between">
                            <div>
                                <p class="darkash-color f-14 f-medium d-flex">Used Amount</p>
                                <h3 class="primary-color f-22 f-bold d-flex">RM 22,250</h3>
                            </div>
                            <div>
                                fgsdf
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <div class="renewals">
                <div class="box-layout p-3">
                    <div class="d-flex f-22 f-bold primary-color">Ready Renewals</div>
                    <div class="renewals__info">
                        <div class="d-flex align-items-center justify-content-between">
                            <div>
                                <p class="f-16 darkash-color text-uppercase d-flex f-medium">ID: ABCD1234567</p>
                                <p class="darkash-color f-14 d-flex">Razia Begam</p>
                            </div>

                            <div>
                                <p class="white-color f-12 f-medium pay__now d-flex">Pay now</p>
                                <p class="red-color f-14 f-medium f-italic d-flex">5 Days to Expire</p>
                            </div>
                        </div>

                    </div>

                    <div class="renewals__info">
                        <div class="d-flex align-items-center justify-content-between">
                            <div>
                                <p class="f-16 darkash-color text-uppercase d-flex f-medium">ID: ABCD1234567</p>
                                <p class="darkash-color f-14 d-flex">Anwar Basha</p>
                            </div>

                            <div>
                                <p class="white-color f-12 f-medium pay__now d-flex">Pay now</p>
                                <p class="red-color f-14 f-medium f-italic d-flex">58 Hrs to Lapse</p>
                            </div>
                        </div>

                    </div>


                    <div class="renewals__info">
                        <div class="d-flex align-items-center justify-content-between">
                            <div>
                                <p class="f-16 darkash-color text-uppercase d-flex f-medium">ID: ABCD1234567</p>
                                <p class="darkash-color f-14 d-flex">Razia Begam</p>
                            </div>

                            <div>
                                <p class="white-color f-12 f-medium pay__now d-flex">Pay now</p>
                                <p class="red-color f-14 f-medium f-italic d-flex">5 Days to Expire</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="adds">
                <div class="box-layout p-0">
                    <div id="adds__section " class="carousel slide adds__section" data-ride="carousel">

                        <!-- Indicators -->
                        <ul class="carousel-indicators">
                            <li data-target="#adds__section" data-slide-to="0" class="active"></li>
                            <li data-target="#adds__section" data-slide-to="1"></li>
                            <li data-target="#adds__section" data-slide-to="2"></li>
                        </ul>

                        <!-- The slideshow -->
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="https://source.unsplash.com/user/erondu/">
                                <span class="txt">dslfgk</span>
                            </div>
                            <div class="carousel-item">
                                <img src="https://source.unsplash.com/user/erondu/">
                                <span class="txt">dslfgk</span>
                            </div>
                            <div class="carousel-item">
                                <img src="https://source.unsplash.com/user/erondu/">
                                <span class="txt">dslfgk</span>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <div class="transcations">
                <div class="box-layout p-3">
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="d-flex f-22 f-bold primary-color">All Transactions</div>
                        <div>
                            <form>
                                <select name="days" id="days" class="days">
                                    <option value="all">All</option>
                                    <option value="Recent">Recent</option>

                                </select>
                            </form>
                        </div>
                    </div>
                    <div class="transcations__info">
                        <div class="d-flex align-items-end justify-content-between">
                            <div class="d-flex">
                                <img src="../../../assets/images/user__icon.svg" class="transcations__image" alt="">
                                <div>
                                    <p class="f-16 darkash-color text-uppercase f-medium">ID: ABCD1234567</p>
                                    <p class="darkash-color f-14">Anwar Basha</p>
                                </div>
                            </div>
                            <div>
                                <p class="f-14 f-bold primary-color">RM 2,230</p>
                            </div>
                        </div>
                    </div>

                    <div class="transcations__info">
                        <div class="d-flex align-items-end justify-content-between">
                            <div class="d-flex">
                                <img src="../../../assets/images/user__icon.svg" class="transcations__image" alt="">
                                <div>
                                    <p class="f-16 darkash-color text-uppercase f-medium">ID: ABCD1234567</p>
                                    <p class="darkash-color f-14">Anwar Basha</p>
                                </div>
                            </div>
                            <div>
                                <p class="f-14 f-bold primary-color">RM 2,230</p>
                            </div>
                        </div>
                    </div>

                    <div class="transcations__info">
                        <div class="d-flex align-items-end justify-content-between">
                            <div class="d-flex">
                                <img src="../../../assets/images/user__icon.svg" class="transcations__image" alt="">
                                <div>
                                    <p class="f-16 darkash-color text-uppercase f-medium">ID: ABCD1234567</p>
                                    <p class="darkash-color f-14">Anwar Basha</p>
                                </div>
                            </div>
                            <div>
                                <p class="f-14 f-bold primary-color">RM 2,230</p>
                            </div>
                        </div>
                    </div>

                    <div class="transcations__info">
                        <div class="d-flex align-items-end justify-content-between">
                            <div class="d-flex">
                                <img src="../../../assets/images/user__icon.svg" class="transcations__image" alt="">
                                <div>
                                    <p class="f-16 darkash-color text-uppercase f-medium">ID: ABCD1234567</p>
                                    <p class="darkash-color f-14">Anwar Basha</p>
                                </div>
                            </div>
                            <div>
                                <p class="f-14 f-bold primary-color">RM 2,230</p>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-end mt-4 mb-2">
                        <span>
                            <mat-icon aria-hidden="false" aria-label="" class="time mx-2 darkash-color">event</mat-icon>
                        </span>
                        <span class="f-12 darkash-color">03 JAN 21</span>
                    </div>
                    <div class="transcations__info">
                        <div class="d-flex align-items-end justify-content-between">
                            <div class="d-flex">
                                <img src="../../../assets/images/user__icon.svg" class="transcations__image" alt="">
                                <div>
                                    <p class="f-16 darkash-color text-uppercase f-medium">ID: ABCD1234567</p>
                                    <p class="darkash-color f-14">Anwar Basha</p>
                                </div>
                            </div>
                            <div>
                                <p class="f-14 f-bold primary-color">RM 2,230</p>
                            </div>
                        </div>
                    </div>
                    <div class="transcations__info">
                        <div class="d-flex align-items-end justify-content-between">
                            <div class="d-flex">
                                <img src="../../../assets/images/user__icon.svg" class="transcations__image" alt="">
                                <div>
                                    <p class="f-16 darkash-color text-uppercase f-medium">ID: ABCD1234567</p>
                                    <p class="darkash-color f-14">Anwar Basha</p>
                                </div>
                            </div>
                            <div>
                                <p class="f-14 f-bold primary-color">RM 2,230</p>
                            </div>
                        </div>
                    </div>
                    <div class="transcations__info">
                        <div class="d-flex align-items-end justify-content-between">
                            <div class="d-flex">
                                <img src="../../../assets/images/user__icon.svg" class="transcations__image" alt="">
                                <div>
                                    <p class="f-16 darkash-color text-uppercase f-medium">ID: ABCD1234567</p>
                                    <p class="darkash-color f-14">Anwar Basha</p>
                                </div>
                            </div>
                            <div>
                                <p class="f-14 f-bold primary-color">RM 2,230</p>
                            </div>
                        </div>
                    </div>
                    <div class="transcations__info">
                        <div class="d-flex align-items-end justify-content-between">
                            <div class="d-flex">
                                <img src="../../../assets/images/user__icon.svg" class="transcations__image" alt="">
                                <div>
                                    <p class="f-16 darkash-color text-uppercase f-medium">ID: ABCD1234567</p>
                                    <p class="darkash-color f-14">Anwar Basha</p>
                                </div>
                            </div>
                            <div>
                                <p class="f-14 f-bold primary-color">RM 2,230</p>
                            </div>
                        </div>
                    </div>
                    <div class="transcations__info">
                        <div class="d-flex align-items-end justify-content-between">
                            <div class="d-flex">
                                <img src="../../../assets/images/user__icon.svg" class="transcations__image" alt="">
                                <div>
                                    <p class="f-16 darkash-color text-uppercase f-medium">ID: ABCD1234567</p>
                                    <p class="darkash-color f-14">Anwar Basha</p>
                                </div>
                            </div>
                            <div>
                                <p class="f-14 f-bold primary-color">RM 2,230</p>
                            </div>
                        </div>
                    </div>
                    <div class="transcations__info">
                        <div class="d-flex align-items-end justify-content-between">
                            <div class="d-flex">
                                <img src="../../../assets/images/user__icon.svg" class="transcations__image" alt="">
                                <div>
                                    <p class="f-16 darkash-color text-uppercase f-medium">ID: ABCD1234567</p>
                                    <p class="darkash-color f-14">Anwar Basha</p>
                                </div>
                            </div>
                            <div>
                                <p class="f-14 f-bold primary-color">RM 2,230</p>
                            </div>
                        </div>
                    </div>

                    <div class="transcations__info">
                        <div class="d-flex align-items-end justify-content-between">
                            <div class="d-flex">
                                <img src="../../../assets/images/user__icon.svg" class="transcations__image" alt="">
                                <div>
                                    <p class="f-16 darkash-color text-uppercase f-medium">ID: ABCD1234567</p>
                                    <p class="darkash-color f-14">Anwar Basha</p>
                                </div>
                            </div>
                            <div>
                                <p class="f-14 f-bold primary-color">RM 2,230</p>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-end mt-4 mb-2">
                        <span>
                            <mat-icon aria-hidden="false" aria-label="" class="time mx-2 darkash-color">event</mat-icon>
                        </span>
                        <span class="f-12 darkash-color">02 JAN 21</span>
                    </div>
                    <div class="transcations__info">
                        <div class="d-flex align-items-end justify-content-between">
                            <div class="d-flex">
                                <img src="../../../assets/images/user__icon.svg" class="transcations__image" alt="">
                                <div>
                                    <p class="f-16 darkash-color text-uppercase f-medium">ID: ABCD1234567</p>
                                    <p class="darkash-color f-14">Anwar Basha</p>
                                </div>
                            </div>
                            <div>
                                <p class="f-14 f-bold primary-color">RM 2,230</p>
                            </div>
                        </div>
                    </div>

                    <div class="transcations__info">
                        <div class="d-flex align-items-end justify-content-between">
                            <div class="d-flex">
                                <img src="../../../assets/images/user__icon.svg" class="transcations__image" alt="">
                                <div>
                                    <p class="f-16 darkash-color text-uppercase f-medium">ID: ABCD1234567</p>
                                    <p class="darkash-color f-14">Anwar Basha</p>
                                </div>
                            </div>
                            <div>
                                <p class="f-14 f-bold primary-color">RM 2,230</p>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-end mt-4 mb-2">
                        <span>
                            <mat-icon aria-hidden="false" aria-label="" class="time mx-2 darkash-color">event</mat-icon>
                        </span>
                        <span class="f-12 darkash-color">01 JAN 21</span>
                    </div>

                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row box-layout">
                <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                    <div class="d-flex  justify-content-between mt-4">
                        <span class="tbl__heading">Claim Details</span>
                    </div>
                    <div
                        class="d-flex align-items-center justify-content-between claim__card claim__card__claim__amount">
                        <div>
                            <p class="darkash-color f-14 f-medium">Total Claim Amount</p>
                            <h3 class="primary-color f-22 f-bold">RM 22,250</h3>
                        </div>
                        <div class="triangle__red"></div>
                    </div>

                    <div
                        class="d-flex align-items-center justify-content-between claim__card claim__card__policy__amount">
                        <div>
                            <p class="darkash-color f-14 f-medium">Total Policies Amount</p>
                            <h3 class="primary-color f-22 f-bold">RM 22,250</h3>
                        </div>
                        <div class="triangle__green"></div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-8 col-lg-9">
                    <div class="table-responsive">
                        <table class="table table-borderless table-hover">
                            <thead>
                                <tr>
                                    <th>Claim Date</th>
                                    <th>Membership ID</th>
                                    <th>Claim Amount</th>
                                    <th>Status</th>
                                    <th>Approved Amount</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <td>02-Jan-2020</td>
                                    <td>SLN01245689</td>
                                    <td>RM 22,245</td>
                                    <td class="Completed">Approved</td>
                                    <td><span class="d-flex  Completed">RM 20,245</span></td>
                                </tr>

                                <tr>
                                    <td>02-Jan-2020</td>
                                    <td>SLN01245689</td>
                                    <td>RM 22,245</td>
                                    <td class="Completed">Approved</td>
                                    <td><span class="d-flex  Completed">RM 20,245</span></td>
                                </tr>

                                <tr>
                                    <td>02-Jan-2020</td>
                                    <td>SLN01245689</td>
                                    <td>RM 22,245</td>
                                    <td class="Completed">Approved</td>
                                    <td><span class="d-flex  Completed">RM 20,245</span></td>
                                </tr>
                                <tr>
                                    <td>02-Jan-2020</td>
                                    <td>SLN01245689</td>
                                    <td>RM 22,245</td>
                                    <td class="Completed">Approved</td>
                                    <td><span class="d-flex  Completed">RM 20,245</span></td>
                                </tr>

                            </tbody>
                        </table>

                    </div>
                    <div class="d-flex justify-content-end">
                        <!-- <img routerLink="/user/claims" src="../../../assets/images/chat.svg" alt=""> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>