<div class="auth__section">

    <div class="columns section__img">
        <img src="https://source.unsplash.com/user/erondu/">
    </div>
    <div class="columns section__form">

      
        <div class="text-center">
            <h2 class="Congratulations">
                Congratulations
            </h2>
            <img class="Congratulations__usser__img" src="../../../assets/images/congralutions.svg" alt="">
            <p class="created_succesfully">Your account has been created succesfully</p>
                <div class="d-flex aligin-items-center justify-content-center">
                  
                   <button class="login__here" routerLink="/login">Login</button>
                </div>
                
           
        </div>
    </div>
</div>