<div class="main__content__single">
    <div class="d-flex  justify-content-between">
        <span class="tbl__heading">Renewals</span>
       
    </div>
    <div class="table-responsive">
        <table class="table table-borderless table-hover">
            <thead>
                <tr>                                  
                    <th>Membership ID</th>                   
                    <th>Membership Name</th>
                    <th>Relation</th>
                    <th>Renewal Date</th>
                    <th>Status</th>
                    <th>Premium Amount</th>                  
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td>SLN01245689</td>
                    <td>Mr. Anwar Basha</td>
                    <td>Father</td>
                    <td>(Before 60 days)</td>
                    <td class="Completed">Inforce</td>
                    <td>$ 1,234,33:00</td>
                    <td><span class="d-flex f-24">. . .</span></td>
                </tr>

                <tr>
                    <td>SLN01245689</td>
                    <td>Mr. Anwar Basha</td>
                    <td>Father</td>
                    <td>(Before 60 days)</td>
                    <td class="Failed">Lapsed</td>
                    <td>$ 1,234,33:00</td>
                    <td><span class="d-flex f-24">. . .</span></td>
                </tr>

                <tr>
                    <td>SLN01245689</td>
                    <td>Mr. Anwar Basha</td>
                    <td>Father</td>
                    <td>(Before 60 days)</td>
                    <td class="Inprogress">About to Lapse</td>
                    <td>$ 1,234,33:00</td>
                    <td><span class="d-flex f-24">. . .</span></td>
                </tr>
                <tr>
                    <td>SLN01245689</td>
                    <td>Mr. Anwar Basha</td>
                    <td>Father</td>
                    <td>(Before 60 days)</td>
                    <td class="Inprogress">Under Writing Progress</td>
                    <td>$ 1,234,33:00</td>
                    <td><span class="d-flex f-24">. . .</span></td>
                </tr>
                <tr>
                    <td>SLN01245689</td>
                    <td>Mr. Anwar Basha</td>
                    <td>Father</td>
                    <td>(Before 60 days)</td>
                    <td class="Failed">Terminated</td>
                    <td>$ 1,234,33:00</td>
                    <td><span class="d-flex f-24">. . .</span></td>
                </tr>

            


            </tbody>
        </table>
    </div>
</div>