<div class="d-flex  justify-content-between">
    <span class="tbl__heading">Tickets</span>
    <button class="tbl__add_btn" routerLink="/user/support-help/ticket/raise-ticket">RAISE NEW</button>
</div>
<div class="table-responsive">
    <table class="table table-borderless table-hover">
        <thead>
            <tr>
                <th>Ticket ID</th>
                <th>Raised On</th>
                <th>Query Type</th>
                <th>Raised by</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
         
       
            <tr>
                <td>TICK12345678</td>
                <td>28-Dec-2021</td>
                <td>Claim</td>
                <td>Mr. Raj Kumar</td>
                <td>0001234567</td>
               <td class="Inprogress">Inprogress</td>
                <td><span class="d-flex f-24">. . .</span></td>
            </tr>
            <tr>
                <td>TICK12345678</td>
                <td>28-Dec-2021</td>
                <td>Health Card</td>
                <td>Mr. Raj Kumar</td>
                <td>0001234567</td>
               <td class="Completed">Closed</td>
                <td><span class="d-flex f-24">. . .</span></td>
            </tr>

            <tr>
                <td>TICK12345678</td>
                <td>28-Dec-2021</td>
                <td>E-Pharmacy</td>
                <td>Mr. Raj Kumar</td>
                <td>0001234567</td>
               <td class="Completed">Closed</td>
                <td><span class="d-flex f-24">. . .</span></td>
            </tr>

            <tr>
                <td>TICK12345678</td>
                <td>28-Dec-2021</td>
                <td>Home Care</td>
                <td>Mr. Raj Kumar</td>
                <td>0001234567</td>
               <td class="Completed">Closed</td>
                <td><span class="d-flex f-24">. . .</span></td>
            </tr>





        </tbody>
    </table>
</div>