.user__type {
  background: #000;
  color: #fff;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 30px;
  padding: 4px;
  .user {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .user__types {
      background: rgba(255, 255, 255, 0.2);
      color: rgba(255, 255, 255, 0.6);
      padding: 4px 10px;
      border-radius: 4px;
      margin: 0 0 0 10px;
      height: 22px;
      display: flex;
      align-items: center;
      font-size: 12px;
    }

    .active {
      background: rgba(255, 255, 255, 1);
      color: #000;
      font-weight: 500;
    }
  }

  .buy__a__policy {
    display: none;
    font-size: 12px;
  }

  .call {
    font-weight: 500;
    font-size: 12px;
    margin-right: 20px;
    .call__icon__style {
      min-width: 16px;
      min-height: 16px;
      background: #2979ff;
      border-radius: 50%;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 3px;
      margin: 0 2px 0 6px;
    }
    .call__icon {
      width: 12px;
      height: 12px;

      border-radius: 50%;
      overflow: hidden;
    }
  }

  .socail__media__icons {
    img {
      margin-right: 8px;
      width: 18px;
      height: 18px;
      overflow: hidden;
    }
  }
}

.main__navbar {
  height: 64px;
  background: transparent linear-gradient(359deg, #172864 0%, #2e4aa8 100%) 0% 0% no-repeat padding-box;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo__bg {
    background: #000;
    width: 267px;
    height: 100%;
    .navbar__logo {
      width: 220px;
      height: 28px;
    }
  }

  .navbar__option__section {
    display: flex;
    align-items: center;
    padding-right: 10px;

    .nav-link {
      display: flex;
      align-items: center;
      padding: 7px 10px;
      margin: 0 21px;
      color: #fff;
      background: transparent linear-gradient(280deg, #2979ff 0%, #72a7ff 100%) 0% 0% no-repeat padding-box;
      border-radius: 8px;
    }

    .dropdown-menu {
      max-width: 215px !important;
      width: 100%;
      margin-top: 7px;
    }

    .pay__premium {
      background: #ff1744;
      padding: 7px 20px;
      border-radius: 8px;
      color: #fff;
      font-size: 14px;
      margin: 0 5px;
      font-weight: 500;
    }

    .line {
      width: 0.5px;
      height: 29px;
      background: #ffffff66;
      // margin: 0 20px 0 0;
    }

    .login__icons {
      margin: 0 8px 0 0;
      position: relative;
    }
  }
}

.search__box {
  position: relative;
  height: 35px;
  overflow: hidden;

  .search__container {
    width: 238px;
    display: block;
    margin: 0 auto;
  }

  input#search-bar {
    margin: 0 auto;
    width: 100%;
    height: 35px;
    padding: 1px 40px 1px 10px;
    font-size: 14px;
    // font-weight: 500;
    border: 1px solid #ffffff1f;
    border-radius: 8px;
    outline: none;
    background: #ffffff22;
    &::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: rgba(255, 255, 255, 0.598);
      opacity: 1; /* Firefox */
    }

    &:-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: rgba(255, 255, 255, 0.598);
    }

    &::-ms-input-placeholder {
      /* Microsoft Edge */
      color: rgba(255, 255, 255, 0.598);
    }

    &:focus {
      border: 1px solid rgba(255, 255, 255, 0.171);
      transition: 0.35s ease;
      color: #fff;
      &::-webkit-input-placeholder {
        transition: opacity 0.45s ease;
        opacity: 0;
      }
      &::-moz-placeholder {
        transition: opacity 0.45s ease;
        opacity: 0;
      }
      &:-ms-placeholder {
        transition: opacity 0.45s ease;
        opacity: 0;
      }
    }
  }

  .search__icon {
    position: relative;
    float: right;
    width: 40px;
    height: 40px;
    top: -37px;
    display: flex;
    filter: invert(100%) sepia(0%) saturate(3115%) hue-rotate(197deg) brightness(100%) contrast(100%);
  }
}

@media screen and (min-width: 768px) {
  .user__type {
    flex-direction: row;
    height: 30px;
    padding: 0;

    .buy__a__policy {
      display: flex;
      align-items: center;
    }
  }
}
