<div class="d-flex  justify-content-between">
    <span class="tbl__heading">Change Password</span>
</div>

<div class="text-center">
    <form class="change__password">

       <mat-form-field class="mb-3">
            <input matInput placeholder="Type Existing Password">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Type New Password">
        </mat-form-field>
        
        <mat-form-field>
            <input matInput placeholder="Confirm New Password">
        </mat-form-field>

        <!-- <mat-form-field>
            <mat-select placeholder="Select">
                <mat-option value="option">Option</mat-option>
            </mat-select>
        </mat-form-field> -->


      

        <div class="d-flex align-items-center justify-content-between">
           
            <button class="cancel mr-1">Cancel</button>
            <button class="login ml-1">Login</button>
        </div>
        
    </form>
</div>